body {
    background-image: url(/images/bg1.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: rgb(217, 255, 0);
}

.layout {
    width: 1050px;
    margin: 33px auto;
    padding-left: 75px;
    overflow: hidden;
    background-image: url();
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: #ffffff;
    display: block;
}

h2 {
    color: #000000;
}

h1 {
    color: #000000;
    text-align: center;
    margin-bottom: 40px;
}
p {
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 70%;
    padding: 11px;
    border: 3.5px solid #f18973;
    background-color: #e0e2e4;
    font-size: 18px;
    color: #454140;
    font-weight: bold;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    outline: none;
    border-color: #6ebe44;
}

input[type="text"]:placeholder-shown,
input[type="email"]:placeholder-shown,
input[type="tel"]:placeholder-shown,
textarea {
    font-size: 16px;
    font-weight: bold;
    color: #454140;
}

.btn {
    margin-left: 40%;
    margin-top: 50px;
}

input[type="button"] {
    background: #3d85c6;
    background: -webkit-linear-gradient(#3d85c6, #073763);
    background: linear-gradient(#3d85c6, #073763);
    border-radius: 5px;
    padding: 9px 20px;
    color: #ffffff;
    display: inline-block;
    font: normal 700 24px/1 "Calibri", sans-serif;
    text-align: center;
    text-shadow: 1px 1px grey;
}

select {
    width: 250px;
    font-weight: bold;
    font-size: 20px;
    color: #36486b;
    border: 3px solid #36486b;
    padding: 4px;
}

.container {
    display: block;
    position: relative;
}

.container ul {
    list-style: none;
    overflow: auto;
}

.container ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #333;
}

.container ul li input[type="radio"] {
    position: absolute;
    visibility: hidden;
}

.container ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 22px;
    padding: 5px 5px 5px 60px;
    margin: 5px auto;
    height: 30px;
    z-index: 5;
    cursor: pointer;

}

.container ul li:hover label {
    color: white;
}

ul li .check {
    display: block;
    position: absolute;
    border: 4px solid #AAAAAA;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 10px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

ul li:hover .check {
    border: 5px solid #FFFFFF;
}

ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked~.check {
    border: 5px solid #0DFF92;
}

input[type=radio]:checked~.check::before {
    background: #0DFF92;
}

input[type=radio]:checked~label {
    color: #0DFF92;
}
